<div class="container center">
  <div class="container card ">
      <p>
        <% link_to 'back to city', @city %>
      </p>

      <h1 class="center"> Edit this Post </h1>

      <%= form_for [@city, @post] do |f| %>
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
  </div>
</div>
