
  <nav>
    <div class="nav-wrapper sub-nav">
      <div class="col s12">
        <span href="#!" class="breadcrumb"> <%= link_to 'View cities', cities_path %> </span>
        <span class="breadcrumb"><%= link_to @city.name, @city %> </span>
        <a href="#!" class="breadcrumb">New Post</a>
      </div>
    </div>
  </nav>


<div class="container">
  <div class="card form_card">


<p><% link_to 'back to city', @city %></p>

<h1> Add new post </h1>

<%= form_for [@city, @post] do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
    <% if flash[:errors] %>
    <h1><%= flash[:errors] %></h1>
    <% end %>
      
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>

 <p>
    <%= f.submit %>
  </p>
  <% if flash[:errors] %>
  <h3><%= flash[:errors] %></h3>
  <% end %>
<% end %>

  </div>
</div>
