<p><% link_to 'back to city', @city %></p>

<h1> Add new post </h1>

<%= form_for [@city, @post] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>

 <p>
    <%= f.submit %>
  </p>
<% end %>
