  <nav>
    <div class="nav-wrapper sub-nav">
      <div class="col s12">
        <span href="#!" class="breadcrumb"> <%= link_to 'All Cities', cities_path %> </span>
        <span class="breadcrumb"><%= link_to @city %> </span>
        <a href="#!" class="breadcrumb"> <%= @post.title %> </a>
      </div>
    </div>
  </nav>

<div class="container card ">
  <h1>Posts#show</h1>

  <h5>title:</h5>
  <%= @post.title %>
  <br>
  <h5>content:</h5>
  <%= @post.content %>

  <%= link_to "Edit",  edit_city_post_path(@post) %>
</div>
