<div class="container">
  <h1 class="center"><%=@city.name %></h1>

  <img class="img-responsive" <%=  image_tag @city.image_url %>
  <br>
  <%= link_to "Add Post", new_city_post_path(@city), class: "waves-effect waves-light btn"  %>



<% @ordered_posts.each do |post| %>

<div class="card-container">

       <div class="card projCard col-lg-4">
  <!-- <img class="card-img-top img-circle" src="#" alt="Card image cap"> -->
  <div class="card-block">
    <h4 class="card-title"><%= link_to post.title, city_post_path(@city, post)%></h4>
    <hr class="small">
    <p class="card-text"> <%=h truncate(post.content, :length => 1000) %></p>
    <p class="btn btn-primary project-btn"><%= link_to "see more", city_post_path(@city, post)%></p>
    <br>
    <br>
    <%= link_to 'Delete', city_post_path(@city, post), method: :delete, data: {confirm: "Are you sure?"}%>

    <div class="right">
  <i>created at:</i>
  <i><%= post.created_at.to_formatted_s(:short) %></i>
  <br>
  <i>last updated:</i>
  <i><%= post.updated_at.to_formatted_s(:short) %></i>
  </div>

  </div>
</div><!-- /.col-lg-4 -->
<% end %>
