<h4>Cities Show Page</h4>

<img class="img-responsive" <%=  image_tag @city.image_url %>
<br>
<%= link_to "Add Post", new_city_post_path(@city), class: "waves-effect waves-light btn"  %>

<h1><%= @city.name %></h1>
<% @city.posts.each do |post| %>
<p><%= link_to post.content, city_post_path(@city, post)%></p>
<%= link_to 'Delete', city_post_path(@city, post), method: :delete%>

<% end %>
